name: Bencher

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 10 * * 4"


jobs:
  benchmark_pr_with_bencher:
    name: Continuous Benchmarking with Bencher
    runs-on: ubuntu-latest
    env:
      BENCHER_PROJECT: sl-sh
      BENCHER_TESTBED: ubuntu-latest-python
      BENCHER_ADAPTER: python_pytest
    steps:
      - run: sudo apt-get update
      - run: sudo apt install -y python3-pip
      - run: sudo pip3 install pipenv
      - uses: actions/checkout@v4
      - uses: bencherdev/bencher@main
      - name: Track Benchmarks with Bencher
        run: |
          bencher run --file results.json \
          --github-actions "${{ secrets.GITHUB_TOKEN }}" \
          --token "${{ secrets.BENCHER_API_TOKEN }}" \
          --err \
          "pipenv run pytest --benchmark-json results.json benchmarks.py"
